<div id="about-me" class="p-5">
    <h2 class="text-center">
        About <strong>Me</strong>
    </h2>

    <div class="d-flex align-items-center justify-content-center mt-4">
        <div class="me-4">
            <img src="assets/imgs/about-me.png" alt="Personal Image">
        </div>
        <div class="ms-4 about-me-description">
            I'm Jayesh Saindane Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to specimen book.
        </div>
    </div>