<div id="about-me" class="p-5">
    <h2 class="text-center">
        About <strong>Me</strong>
    </h2>

    <div class="d-flex align-items-center flex-column-reverse justify-content-center mt-4 flex-md-row">
        <div class="me-4">
            <img src="assets/imgs/about-me.png" alt="Personal Image">
        </div>
        <div class="ms-4 about-me-description mb-3">
            As a software engineer, I have 3 year and 5 months of experience as front-end developer. Proficient in HTML,
            CSS, JavaScript, and Angular.
        </div>
    </div>