.personal-image {
    width: 35px;
}

a {
    text-decoration: auto;
    color: #000000;
    cursor: pointer;

    &:hover {
        color: #007bff;
    }
}

.nav-container {
    position: relative;
    left: 47%;
    transform: translateX(-53%);
}

#banner-img {
    width: 100%;
}

@media screen and (width < 992px) {
    .nav-container {
        position: unset;
        left: unset;
        transform: none;
        padding: 0 10px;
    }
}